#bottom {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
}

#bottom h3 {
  text-align: left;
  margin: 0;
  text-decoration: none;
  font-size: 25px;
  font-weight: normal;
}

.neighborhood .barText {
  cursor: pointer;
}

/***************************/
/* X-AXIS */
/***************************/

#axis {
  width: 100%;
}

svg {
  width: 100%;
  /* height: 100%; */
}

svg.neighborhood:hover {
  background:beige;
}

.tick line {
  stroke: none;
}

/***************************/
/* TOOLTIP */
/***************************/
.rectToolTip, .circleToolTip {
  display:none;
  position:absolute;
  background:white;
  padding: 5px 20px;
  text-align: center;
  border:1px solid;
  box-shadow: 2px 2px #7b7575;
}

.rectToolTip .title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}

.rectToolTip .avg{
  margin: 0;
}

.circleToolTip {
  width:250px;
}

.circleToolTip .title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}

.circleToolTip .neighborhood, .circleToolTip .avg{
  margin: 0;
}

#mapCountyToolTip { 
  position: absolute;     
  text-align: center;         
  padding: 2px;       
  font: 12px sans-serif;    
  background: #fff; 
  border: 0px;    
  border-radius: 8px;     
  pointer-events: none;
  opacity: 0;     
}

